@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  background: #fafafa;
  font-family: 'Montserrat';
  font-size: 18px;
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: -52px;
}

.flex-spacer {
  flex-grow: 1;
}

section {
  display: table;
  margin-top: 52px;
  padding-bottom: 65px;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.mat-toolbar {
  margin-bottom: 16px;
}

.mat-flat-button {
  color: white !important;
}

.primary-bg-color {
  background: #3f51b5 !important;
}

.primary-color {
  color: #3f51b5 !important;
}
